.header {
    color: white;
    background-color: black;
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 10%;
    overflow: hidden;
}

.navbar a {
    font-size: 25px;
    padding: 10% 30px 10% 30px;
    text-decoration: none;
    color: white;
}

.navbar a:hover {
    font-size: 25px;
    padding: 10% 30px 10% 30px;
    text-decoration: none;
    color: black;
    background-color: lightgray;
}

.header h1 {
    width: 300px;
    display: inline-block;
    margin: 0px 0px 0px 40px;
}

.navbar {
    display: inline-block;
    margin-left: 30%;
    height: 10%;
}

body {
    margin: 0;
}

.pdf {
    text-align: center;
    padding-bottom: 20px;
}

.title {
    text-align: center;
}

.team-title {
    text-align: center;
}

.team-roles {
    text-align: center;
    list-style-type: none;
    padding: 0px;
}

.team-roles li {
    padding: 0px 0px 20px 0px;
    font-size: 20px;
}

.project-name {
    text-align: center;
    background-color: lightskyblue;
    margin-top: 0px;
    padding: 10px 0px 10px 0px;
    margin-bottom: 30px;
}

.team-roles-card {
    background-color: lightgray;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0px;
    margin-top: 50px;
    border-radius: 30px;
    border: solid black 2px;
}